.app-footer
  .row
    .col-lg-4
      .content-block-lg
        a.app-menu__logo(href="")
      p
        a.app-footer__link(href="tel:+74952480105") +7 495 248 01 05
      p
        a.app-footer__link(href="") Заказать обратный звонок
    .col-lg-4
      .content-block
        p
          | Остались вопросы?
        a.app-footer__link Задайте их специалисту
    .col-lg-4
      .content-block
        p
          | г. Москва
        a.app-footer__link(href="tel:+74952480105") +7 495 248 01 05
      .content-block
        p
          | 428022, Россия, Чувашская Республика, г. Чебоксары, ул. Карла Маркса, 52, студия 315
        p
          a.app-footer__link(href="tel:+79276680805") +7(927) 668 08 05
        p
          a.app-footer__link(href="mailto:info@comf5.ru") info@comf5.ru


