.app-menu
  a.app-menu__logo(href="")
  nav.app-menu__nav
    a.app-menu__nav-item(href="#") Услуги
    a.app-menu__nav-item.app-menu__nav-item--active(href="#") Кейсы
    a.app-menu__nav-item(href="#") Готовые решения
    a.app-menu__nav-item(href="#") Блог
    a.app-menu__nav-item(href="#") Компания

