extends _layouts/application

block content
  .case-cover
    .case-cover__content
      .content-block
        .row
          .col-md-6.col-lg-7
            nav.case-cover__breadcrumbs
              a.case-cover__breadcrumbs-item(href="") Кейсы
          .col-md-6.col-lg-5.text-right
            .case-cover__contacts
              a.link--white.inline-content-block-sm(href="tel:+74952480105")
                strong +7 495 248 01 05
              a.btn.btn-sm.btn-white--outline(href="") Обратный звонок
      .row
        .col-md-8
          h1.case-cover__item-title
            | Интеграция amoCRM с сервисом для совместного доступа к файлам Pydio
        .col-md-4.text-right
          .content-block-sm
          a.btn.btn-green.btn-spaced(href="") Заказать интеграцию
  .page-content
    .row
      .col-lg-10.col-lg-offset-1
        article.case-content
          p.article-content-block
            | Pydio — удобная платформа для совместного доступа к файлам. Сервис позволит Вам работать с файлами, связанными со сделкой — загружать, хранить, скачивать и обмениваться ими с клиентом. Интеграция сервиса Pydio с amoCRM — отличный вариант систематизации документов и файлов для ведения продаж.
          h3.article-section-title
            | Основные возможности
          ul.article-content-block
            li
              | загрузка, просмотр, редактирование и скачивание файлов;
            li
              | автоматическое создания основных папок при сохранении сделки;
            li
              | создание дополнительных папок в рамках интерфейса amoCRM;
            li
              | проброс ссылок на папки в дополнительные поля;
            li
              | настройки приватности для файлов;
            li
              | возможность прикрепления файлов, загруженных в Pydio, в примечании к сделке.
          p.article-content-block
            | Pydio — удобная платформа для совместного доступа к файлам. Сервис позволит Вам работать с файлами, связанными со сделкой — загружать, хранить, скачивать и обмениваться ими с клиентом. Интеграция сервиса Pydio с amoCRM — отличный вариант систематизации документов и файлов для ведения продаж.
          .article-image-block
            img.article-image(src="../images/content-pic.jpg")
            .article-image-caption Пример интеграции
          a.btn.btn-green.btn-lg.btn-spaced-lg(href="") Заказать интеграцию
          .article-image-caption Мы свяжемся с вами в течение двух часов и ответим на все вопросы

